.row
  .col-md-8.blog-main  
    .box.box-primary
      .box-header
        %h2 New Blog
      .box-body            
        %div
          = render 'form'
          
  .col-md-3.col-sm-offset-1.blog-sidebar
    .sidebar-module.sidebar-module-inset.box.box-info
      %h4 Notice to all blogger
      %p
        All the blogs submission needs a site administrator approval before publishing to MyBlogger site.

