%h3 Hello Administrator!
%br
%p  There was a recent submission to the Elphax Blogger which needs your approval in order to publish this article.  
%hr
%h3 Article details.
%hr
%h4 Title
%p #{@article.title}
%h4 Content
%p #{@article.content}
%br
%br
Thank you!